<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="Suite de Testes" parallel="tests" thread-count="2">
    <test name="Teste na primeira maquina">
        <parameter name="email" value="admin@phptravels.com"/>
        <parameter name="password" value="adminuser"/>
        <parameter name="invalidPassword" value="123456"/>
        <classes>
            <class name="br.com.webgrid.tests.TestLoginAdmin" ></class>
        </classes>
    </test>
    <test name="Teste na segunda maquina">
        <parameter name="entradaParametro" value="2"/>
        <parameter name="email" value="user@phptravels.com"/>
        <parameter name="password" value="demouser"/>
        <parameter name="invalidPassword" value="123456"/>
        <classes>
            <class name="br.com.webgrid.tests.TesteLoginUser" ></class>
        </classes>
    </test>
</suite>